<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         colors="true"
         verbose="true"
         bootstrap="../../../vendor/%COMPOSER_NAME%/Test/bootstrap.php"
>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>../../../vendor/%COMPOSER_NAME%/Test/Unit</directory>
        </testsuite>
        <testsuite name="Integration Test Suite">
            <directory>../../../vendor/%COMPOSER_NAME%/Test/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../../../vendor/%COMPOSER_NAME%/</directory>
        </include>
        <exclude>
            <directory suffix=".php">../../../vendor/%COMPOSER_NAME%/Test</directory>
            <directory suffix=".php">../../../vendor/%COMPOSER_NAME%/Api</directory>
            <file>../../../vendor/%COMPOSER_NAME%/registration.php</file>
        </exclude>
        <report>
            <clover outputFile="../../../vendor/%COMPOSER_NAME%/build/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>
