<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="All Tests">
            <directory>../../../vendor/%COMPOSER_NAME%/Test/Unit/</directory>
            <directory>../../../vendor/%COMPOSER_NAME%/Test/Integration/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../../../vendor/%COMPOSER_NAME%/</directory>
        </include>
        <exclude>
            <directory suffix=".php">../../../vendor/%COMPOSER_NAME%/Test</directory>
            <directory suffix=".php">../../../vendor/%COMPOSER_NAME%/Api</directory>
            <file>../../../vendor/%COMPOSER_NAME%/registration.php</file>
        </exclude>
        <report>
            <clover outputFile="../../../vendor/%COMPOSER_NAME%/build/logs/clover.xml"/>
        </report>
    </coverage>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
