<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         colors="true">
    <testsuites>
        <testsuite name="Module Test Suite">
            <directory>./Test/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./Test</directory>
            <!-- exclude interfaces -->
            <directory suffix=".php">./Api</directory>
        </exclude>
    </coverage>
</phpunit>