<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         colors="true"
         verbose="true"
         bootstrap="/var/www/magento2ce/dev/tests/integration/framework/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuite name="Integration Test Suite">
        <directory>./</directory>
    </testsuite>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <const name="TESTS_INSTALL_CONFIG_FILE" value="../../../vendor/%COMPOSER_NAME%/Test/Integration/etc/install-config-mysql.php"/>
        <const name="TESTS_POST_INSTALL_SETUP_COMMAND_CONFIG_FILE" value="../../../vendor/%COMPOSER_NAME%/Test/Integration/etc/post-install-setup-command-config.php"/>
        <const name="TESTS_GLOBAL_CONFIG_FILE" value="etc/config-global.php"/>
        <const name="TESTS_GLOBAL_CONFIG_DIR" value="../../../app/etc"/>
        <const name="TESTS_CLEANUP" value="disabled"/>
        <env name="TESTS_CLEANUP_DB" value="disabled" />
        <const name="TESTS_EXTRA_VERBOSE_LOG" value="1"/>
        <const name="TESTS_MAGENTO_MODE" value="developer"/>
        <const name="DB_HOST" value="mysql"/>
        <const name="DB_NAME" value="magento_integration_tests"/>
        <const name="DB_USER" value="root"/>
        <const name="DB_PASSWORD" value="root"/>
    </php>
</phpunit>
