name: Codecov
on:
  push:
    branches:
      - master

jobs:
  static:
    name: Send report to codecov
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          file: ./build/logs/clover.xml
